*.iws
*.iml
*.ipr
*Db.properties
*Db.script
.settings
.classpath
*.cmd
mvnw
.project
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
/*.sha1
.DS_Store
/target/
/target-eclipse/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.idea
/.mvn
/.slcache/
/wrapper/


# Except this file
!.gitignore

# Ignore layout temp files
/web-app/temp/*
